.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Ubuntu;
}

.white_back {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 30rem;
  height: 20rem;
  border: solid 0.2rem grey;
  border-radius: 0.45em;
}
.blue_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  background-color: white;
  border-radius: 0.45em;
}
.blue_back {
  display: flex;
  flex-direction: column;
  background-image: url("bg-sidebar-desktop.svg");
  background-size: cover;
  background-position: center;
  width: 9rem;
  height: 19rem;
  border-radius: 0.3rem;
}

/* .personal_info{
    margin-bottom: 0rem;
} */

.name,
.adds,
.numb {
  font-family: Raleway;
}

.Cs {
  width: 9rem;
  height: 9rem;
}

/* input{
    width: 12.5rem;
    border-color: grey;
    background-color: white;
    margin-bottom: 0.9rem;
} */

.steps {
  height: 4rem;
  width: 4rem;
  margin-top: 1.2rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
}

#c1,
#c2,
#c3,
#c4 {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 253, 253, 0);
  border-radius: 2rem;
  border: 0.1rem solid white;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  color: white;
  font-size: 0.8rem;
}

#c1 {
  color: blue;
  background-color: rgb(10, 191, 204);
}

.step1 {
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 1.5rem;
  color: white;
  font-size: 0.6rem;
}

/* .steps_total{
    
} */

#info {
  width: 4.5rem;
  font-weight: 600;
  font-family: Raleway;
}

.sect_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info_please {
  margin: 0rem 0rem 0.3rem 1rem;
}

#p1 {
  font-family: Raleway;
  font-size: 1.1rem;
  color: darkblue;
  font-weight: 700;
}

#please {
  font-family: Raleway;
  font-size: 0.7rem;
  font-weight: 600;
  color: grey;
}

.lower {
  font-size: 0.8rem;
  color: blue;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  color: darkblue;
  font-weight: 600;
}

.Scolor {
  color: rgb(172, 165, 165);
  font-family: Segoe UI;
}

.next {
  color: white;
  width: 5rem;
  margin-top: 1.3rem;
  margin-left: 12rem;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  padding: 0.4rem;
  font-size: 1rem;
  font-family: raleway;
}

.name,
.adds,
.numb {
  margin-bottom: 0.3rem;
}
